body {
    font-family: verdana, helvetica, sans-serif;
    font-size: small;
}
.testclass {
    border: 2px dotted red;
}
.testclass2 {
    background-image: url(images/sc-logo.gif);
}
.smaller {
    font-size: smaller;
}
.hide {
    display: none;
}